* {
    margin: 0px;
    padding: 0px;
}

#wraper {
    width: 750px;
    height: 1280px;
    border: 1px solid rgb(216, 201, 201);
    position: absolute;
    left: 50%;
    margin-left: -330px;
    opacity: 0.9;
}

header {
    width: 100%;
    height: 100px;
    background: url(https://pds.joins.com/news/component/htmlphoto_mmdata/201910/11/1a2faaa5-ad81-47cc-9be3-0f66c6ede9c7.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#writer-section {
    width: 100%;
    height: 175px;
    background-color: rgba(0, 0, 0, 0.034);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top: 20px;
}

#writer-section>ul {
    display: flex;
}


#writer-section>ul>li:nth-child(1) {
    width: 130px;
    height: 150px;
    margin-left: 35px;
    
}

ul {
    list-style: none;
}

#comment-section {
    width: 100%;
    height: 1000px;
    /* border: 1px solid skyblue; */
    margin-top: 20px;
}

#comment-section>ul>li {
    display: flex;
}

.lightgray {
    background-color: rgba(0, 0, 0, 0.034);
    border-top: 1px solid lightgray;
    margin-top: 20px ;
}

.incomment {
    width: 130px;
    height: 150px;
}

.minimi {
    background: url(https://yt3.ggpht.com/a/AGF-l7-TXSLiUxZp8zU-kwnA2xcMsIaCeVJ_Z5YFEQ=s900-c-k-c0xffffffff-no-rj-mo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
}
.margins{
    margin-left: 40px;
}
input {
    width: 500px;
    box-sizing: border-box;
}

textarea {
    width: 500px;
    height: 117px;
    resize: none;
    box-sizing: border-box;
}

button {
    position: relative;
    left: 469px;
}
.username{
    margin: 0 10px; 
    color: rgb(34, 34, 134);
    font-weight: bold;
    font-size: 0.95em;
}
.date_time{
     font-size: 0.8em;
}
.count{
    font-size: 0.8em;
    margin-left: 15px;
}
.comment{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}